*{
    
    background-image: url('../../../assets/task1_img.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }
  
  h1{
    font-family:fantasy;
    font-style: italic;
    color: rgb(5, 83, 114); 
    text-shadow: 2px 2px rgb(143, 152, 78);
 }